In [18]:
def evenorodd(n):
    if n % 2:
        print("odd")
    else:
        print("even")
evenorodd(10)

even

In [17]:
def evenorodd(n):
    if n % 2:
        print("odd")
    else:
        print("even")
print(evenorodd(10))

even
None

In [22]:
def evenorodd(n):
    if n % 2:
        return("odd")
    else:
        return("even")
res=evenorodd(10)     
print(res)

even

In [23]:
def evenorodd(n):
    if n % 2:
        return"odd"
    else:
        return"even"
res=evenorodd(10)     
print(res)

even

In [28]:
def evenorodd(n):
    if n % 2:
        return False
    else:
        return True
res=evenorodd(10)     
print(res)    
if res == True:
    print("Number is even")
else:
    print("Number is odd")

True
Number is even

In [30]:
def evenorodd(n):
    if n % 2
        print("odd")
    else:
        print("even")  
res=evenorodd(10)     
print(res)    
if res == True:
    print("Number is even")
else:
    print("Number is odd")

even
None
Number is odd

In [31]:
[1,2,3,4,5,6,6,7]

[1, 2, 3, 4, 5, 6, 6, 7]

#### TYPE OF ARGUMENTS
1. positional argument
2. keyword arguments
3. default arguments
4. variable lenths positional arguments
5. variable lenths keyword arguments

In [1]:
#find the string lenght without len()
string = input("Enter a string:")
count = 0
for each in string:
    count +=1
    print(count)

Enter a string: 1234

1
2
3
4

In [3]:
# positional arguments 
#subtraction of two numbers using functions
def sub (n1,n2):
    res = n1 - n2 
    return res 
a = int(input())  
b = int(input()) # a,b = 10,20
print(sub(a, b))
print(sub(b, a))

 3456
 3567

-111
111

In [4]:
# keyword arguments
# subtraction of two numbers using functions
def sub(n1,n2):
    res = n1 - n2 
    return res 
a = int(input())  
b = int(input())
print(sub(a, b))
print(sub(b, a))

 564
 789

-225
225

In [ ]:
#1. Sum of two numbers using functions
#2. sum of 3 an 4 numbers usig functions

In [5]:
# practice
# 1. Sum of two numbers using functions
def sum_of_two_numbers(n1,n2):
    res = n1 + n2
    return res
res = sum_of_two_numbers(20,30)
print(res)

50

In [26]:
##list properties
# list is elements access by using index position 
lst = [10,2,4,4,.534, "hi" ,'hello']
print(lst[2])
print(lst[-3])
print(lst[2:])

4
0.534
[4, 4, 0.534, 'hi', 'hello']

In [6]:
# 2. sum of 3 numbers usig functions
a = 15
b = 49
c = 67
def sum_of_three_numbers(n1,n2,n3):
    res = n1 + n2 + n3
    return res
res = sum_of_three_numbers(a,b,c)
print (res)

131

In [7]:
#2. sum of 4 numbers usig functions
def Adding_four_numbers(z1,z2,z3,z4):
    res = z1 + z2 + z3 + z4
    return res
a = int(input("Enter a number 1:"))
b = int(input("Enter a number 2:"))
c = int(input("Enter a number 3:"))
d = int(input("Enter a number 4:"))
res = Adding_four_numbers(a,b,c,d)
print(res)

Enter a number 1: 234
Enter a number 2: 456
Enter a number 3: 789
Enter a number 4: 789

2268

In [8]:
 list properties
# list elements access by using index positions
lst = [10,2,4,4.534, 'hi','hello']
print(lst[2])
print(lst[-3])
print(lst[2:])

IndentationError: unexpected indent (65169736.py, line 1)

In [9]:
# list mutable
lst = [1,2,3,40,'hi','hello']
lst[0] = 100
print(lst)

[100, 2, 3, 40, 'hi', 'hello']

In [ ]:
#nesteed list element access
lst = [1,2,3,4,[10,30,50,['a','b','c'],29, 1,3]
print

In [10]:
# string are immutable
str="asdfgh"
str[0]= "R"
print(str)

TypeError: 'str' object does not support item assignment

In [12]:
# mutable
lst = [1,2,3,40,'hi','hillo']
lst[0] = 100
print(lst)

[100, 2, 3, 40, 'hi', 'hillo']

In [13]:
# string is immutable 
s = 'navaneetha'
s[0] = 'z'
print(S)

TypeError: 'str' object does not support item assignment

In [20]:
# reading list of elements from user
l= list(map(int, input().split()))
print (type (1),1)

 1 2 3.5

ValueError: invalid literal for int() with base 10: '3.5'

In [11]:
# nested list element access
lst =[1,2,3,4,[10,30,50, ['a','b','c',]],29.1,3]
print(lst[4])
print(lst[4][3])
print(lst[4][3][2])

[10, 30, 50, ['a', 'b', 'c']]
['a', 'b', 'c']
c

#### reading list of elements from user

In [12]:
# reading list of elements from user
l = list(map(int,input().split()))
print(type(l),l)

 345

<class 'list'> [345]

In [13]:
# reading list of elements fron user
l = list(map(int, input().split(",")))
print(type(l), l)

 465

<class 'list'> [465]

In [14]:
l=map(int,input().split(','))           #map( function,iterable)
print(type(l),l)

 567

<class 'map'> <map object at 0x000001B1CA9963B0>

In [15]:
l=list(map(int,input().split()))
print(type(l),l)

 678

<class 'list'> [678]

######  read list of numbers if numer is even add 0.5 and if the number is odd add one

In [17]:
#read list of numbers if numer is even add 0.5 and if the number is odd add one
##lst=[1,2,3,4,5]
lst=list(map(int,input().split()))
for i in range(0,len(lst)):
    if lst[i]%2 :
        lst[i]=lst[i]+1
    else:
         lst[i]=lst[i]+0.5
print(lst)

 785

[786]